/* colors - 
#483D3F - Van Dyke
#E0DCCD - Bone
#B8B08D - Sage
#645D3F - Field Drab
#D1603D - Cinnabar */

.CookList {
  /* font-weight: 700; */
  text-align: center;
  border: 1px solid;
  border-color: #D1603D;
  list-style-type: none;
}

.FormElement {
  width: 100%;
  max-width: 360px;
  padding: 1em;
  margin: 1em;
  margin-top: 1em;
}

.Header {
  text-align: center;
  background-color:#D1603D;
  width: 100%;
  max-width: 360px;
  font-family: sans-serif;
}

